<div class="" [ngClass]="getBodyClass()">
    <app-navbar/>

    <div
    class="w-full h-[40vh] bg-gray-900 flex flex-col justify-center items-center"
  >
    <div>
      <span class="text center text-white font-semibold text-[3vh] md:text-[4vh] lg:text-[5vh]"
        >Documents</span
      >
    </div>
  </div>



  <div class="h-full overflow-y-auto bg-white p-6">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div
     
          class="bg-white shadow-md rounded-lg p-4 flex flex-col justify-between"
        >
          <div class="flex items-center space-x-4">
            <img
              src="/assets/icons/mdi--microsoft-powerpoint.svg"
              alt=" ' icon'"
              class="w-8 h-8"
            />
            <h2 class="text-xl font-semibold">Process Optimization</h2>
          </div>
          <div class=" text-sm font-light my-3">
            This article on process optimization emphasizes on simplifying an organization’s operations to improve productivity and effectiveness. It offers visual tools, ideas, and frameworks to spot bottlenecks, save waste, and increase process effectiveness in many different sectors
          </div>
          <!-- <p class="text-sm text-gray-600 mt-2">Size: 1.1 MB</p> -->

          <div class="">
            <a href= "https://www.slideegg.com/process-optimization?srsltid=AfmBOop0Z7OsiWgBSqDV9S1edBfbCqOnPoCl_TauOsDGq3BAlUbw0JFS" class="inline-flex font-medium items-center text-blue-600 hover:underline" target="_blank">
                Link
                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                </svg>
            </a>
        </div>
          <div class="mt-4">
            <a
              href="/assets/documents/SlideEgg_900249-Process Optimization.pptx"
              target="_blank"
              class="block text-center bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
            >
            Download
            </a>
          </div>
        </div>



        <div
     
        class="bg-white shadow-md rounded-lg p-4 flex flex-col justify-between"
      >
        <div class="flex items-center space-x-4">
          <img
            src="/assets/icons/proicons--pdf-2.svg"
            alt=" ' icon'"
            class="w-8 h-8"
          />
          <h2 class="text-xl font-semibold">Business-analysis-and-digital-transformation</h2>
        </div>
        <div class=" text-sm font-light my-3">
          Published by the International Institute of Business Analysis (IIBA), this journal investigates the vital contribution business analysis makes to propel effective digital transformation projects. It emphasizes tools, approaches, and frameworks that let companies match technology adoption with corporate objectives thereby guaranteeing flexibility and value creation in a fast-changing digital environment.
        </div>
        <!-- <p class="text-sm text-gray-600 mt-2">Size: 4.1 MB</p> -->

        <div class="">
          <a href= "https://www.iiba.org/globalassets/standards-and-resources/whitepapers-and-studies/files/business-analysis-and-digital-transformation.pdf" class="inline-flex font-medium items-center text-blue-600 hover:underline" target="_blank">
              Link
              <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
              </svg>
          </a>
      </div>
        <div class="mt-4">
          <a
            href="'/assets/documents/business-analysis-and-digital-transformation.pdf"
            target="_blank"
            class="block text-center bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >
          Download
          </a>
        </div>
      </div>

      <div
     
      class="bg-white shadow-md rounded-lg p-4 flex flex-col justify-between"
    >
      <div class="flex items-center space-x-4">
        <img
          src="/assets/icons/mynaui--file.svg"
          alt=" ' icon'"
          class="w-8 h-8"
        />
        <h2 class="text-xl font-semibold">Comprehensive Guide to Business Process Re-engineering (BPR)</h2>
      </div>
      <div class=" text-sm font-light my-3">
        Business Process Re-engineering (BPR) streamlines and optimizes processes to improve efficiency, reduce costs, and enhance quality and customer satisfaction, using tools like Lean Six Sigma and automation.
      </div>
      <!-- <p class="text-sm text-gray-600 mt-2">Size: 3.0 MB</p> -->

      <!-- <div class="">
        <a href= "https://www.slideegg.com/process-optimization?srsltid=AfmBOop0Z7OsiWgBSqDV9S1edBfbCqOnPoCl_TauOsDGq3BAlUbw0JFS" class="inline-flex font-medium items-center text-blue-600 hover:underline" target="_blank">
            Link
            <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
            </svg>
        </a>
    </div> -->
      <div class="mt-4">
        <a
          href="/assets/documents/Branding.docx"
          target="_blank"
          class="block text-center bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
        >
        Download
        </a>
      </div>
    </div>


    <div
     
    class="bg-white shadow-md rounded-lg p-4 flex flex-col justify-between"
  >
    <div class="flex items-center space-x-4">
      <img
        src="/assets/icons/mdi--microsoft-excel.svg"
        alt=" ' icon'"
        class="w-8 h-8"
      />
      <h2 class="text-xl font-semibold">Polarsigma Company Profile</h2>
    </div>
    <div class=" text-sm font-light my-3">
      Polarsigma Consulting: Established in 2010 and headquartered in Lagos, Nigeria, Polarsigma specializes in business process reengineering, workflow optimization, and innovative solutions across industries such as healthcare, finance, retail, manufacturing, and technology
    </div>
    <!-- <p class="text-sm text-gray-600 mt-2">Size: 1.1 MB</p> -->

    
    <div class="">
      <a href= "https://docs.google.com/spreadsheets/d/1Cq4MBbqFIbK2LSOzuIPFFruNzJUXkOvG/edit?usp=drive_link&ouid=100551018059674000700&rtpof=true&sd=true" class="inline-flex font-medium items-center text-blue-600 hover:underline" target="_blank">
          Link
          <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
          </svg>
      </a>
  </div>
    <!-- <div class="mt-4">
      <a
        href="src\assets\documents\Polarsigma_Company_Profile.xlsx"
        target="_blank"
        class="block text-center bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
      >
      Download
      </a>
    </div> -->
  </div>
      </div>
    </div>
  </div>
  

    <app-footer/>

</div>