<div class="" [ngClass]="getBodyClass()">
  <app-navbar/>

    <!-- place nav here to set it inside the body.. so it does not overflow to the lest! -->
    <!-- <div class="mt-14">
      <router-outlet></router-outlet>
    </div> -->

    <!-- Footer starts here -->
    <!-- component -->


    <div class="w-full h-[40vh] bg-gray-900 flex justify-center items-center">
        <div>
          <span class="text center text-white font-semibold text-[3vh] md:text-[4vh] lg:text-[5vh]">CONTACT US</span>
        </div>
  </div>

                <div>
                        <div class=" grid lg:grid-cols-4  h-[35vh]">
                            <div class="lg:col-span-2  flex flex-col justify-center items-center">
                                <div class="grid grid-cols-7">
                                    <div class="lg:col-span-2">

                                    </div>
                                    <div class="space-y-3 lg:col-span-1   ">
                                        <p class="font-semibold text-[12px] lg:text-[1.8vh]">Email : </p>
                                        <p class="font-semibold text-[12px] lg:text-[1.8vh]">Student Id : </p>
                                        <p class="font-semibold text-[12px] lg:text-[1.8vh]">Address : </p>
                                        <p class="font-semibold text-[12px] lg:text-[1.8vh]">Phone No : </p>
                                    </div>
                                    <div class="lg:col-span-4 col-span-5 space-y-3 flex-col flex">
                                        <p class="text-[12px] lg:text-[1.8vh]">do24aas@herts.ac.uk</p>
                                        <p  class="text-[12px] lg:text-[1.8vh]"> 23078628</p>
                                        <p  class="text-[12px] lg:text-[1.8vh]">De Havilland Campus, Mosquito way, Hatfield. AL10 9EU</p>
                                         <p  class="text-[12px] lg:text-[1.8vh]">+447494839929</p>
                                    </div>
                                </div>
                                  
                            </div>

                            <div class="col-span-2">

                            </div>
                        </div>
                </div>




                
                <app-footer/>


  </div>    

