<!-- navbar is here!
<!-- place nav here to set it at the top! -->
<div>
  
  <app-navbar/>

  <div class="relative h-[100vh] w-full">
    <!-- Background Image -->
    <div
      class="absolute inset-0 bg-[url('\assets\nasa-Q1p7bh3SHj8-unsplash.jpg')] bg-cover bg-center"
    ></div>

    <!-- Overlay -->
    <div
      class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center"
    >

    <div class="flex flex-col text-white leading-tight text-[4vh] sm:text-[7vh]">
      <div class="font-sans text-center">Unlocking <span class="text-[#ffa500] font-semibold">Digital Potential</span></div>
      <div class="font-sans text-[2.6vh] text-center">Your Partner in Business Process Re-engineering, Innovation and Automation </div>
      <!-- <span class="text-[#ffa500] text-center"> '{{ displayedText }}'</span> -->
      <!-- <app-dynamic-text></app-dynamic-text> -->
    </div>
      <!-- <div class="flex flex-col text-white leading-tight text-[5vh] sm:text-[11vh]"> -->
        <!-- <div class="font-sans">Smart-Thinking &</div> -->
        <!-- <app-dynamic-text></app-dynamic-text> -->
      <!-- </div> -->
      <!-- <button class="bg-white text-black py-2 px-4 rounded-lg hover:bg-gray-200">
        Click Me
      </button> -->
    </div>
  </div>



  <div class="w-full h-[40vh] grid lg:grid-cols-4 px-5 align-middle items-center bg-gray-300 ">
      <div class=" text-justify  col-span-3 ml-auto mr-auto">
        <div class="font-bold text-black text-xl text-justify py-3">As a leading expert in IT consulting</div>
        <div class=" w-[80vh]">
          <p class="text-lg leading-relaxed text-justify">
            We specialize in optimizing business operations by  leveraging automation and change management frameworks.  
            Our solutions eliminate manual inefficiencies, reduce costs, and elevate customer satisfaction, ensuring businesses stay competitive in an evolving market.
          </p>
        </div>
        
      </div>

      <div class="col-span-1 mt-[4vh]">
        <button class="border border-gray-900 text-gray-900 font-semibold py-2 px-4 rounded hover:bg-gray-900 hover:text-white transition duration-300 ease-in-out" (click)="routeTo('about-us')">
          About Us
      </button>
      </div>
     

  </div>

  <!-- \assets\nasa-Q1p7bh3SHj8-unsplash.jpg -->

  <!-- <div class="bg-[url('\assets\thomas-tastet-hSODeSbvzE0-unsplash.jpg')] mt-[7vh] bg-cover bg-center  h-[95vh] w-full">
    Content goes here
  </div> -->

  <!-- <div class="body" >
      <img src="assets\shubham-dhage-gC_aoAjQl2Q-unsplash.jpg" alt="">
  </div> -->

 
  <div class="w-full grid grid-cols-1 lg:grid-cols-7  bg-gray-300">
    <!-- Left Section -->
    <div class="lg:col-span-3 flex flex-col items-center lg:items-end bg-gray-900 lg:ml-[20vh]">
      <div class="flex justify-center lg:justify-end h-10 lg:mr-[15vh]">
        <div class="text-3xl lg:text-[5vh] my-5 font-bold font-mono text-[#ffa500]">
          What we do?
        </div>
      </div>
      <div class="mt-10 flex justify-center lg:justify-end">
        <div class="h-[30vh] w-[80%] sm:w-[50vh] lg:h-[40vh]">
          <img
            src="/assets/Group 38.png"
            alt="Sample Image"
            class="h-full w-full object-contain"
          />
        </div>
      </div>
    </div>
  
    <!-- Right Section -->
    <div class="lg:col-span-4 flex flex-col px-5 sm:px-10 lg:pl-10 lg:pt-[7vh] bg-gray-900 justify-center lg:mr-[20vh]">
      <div class="mt-3 w-full  grid grid-cols-1 sm:grid-cols-2 gap-6 lg:gap-10  ">
        <div class="flex flex-row gap-4 lg:gap-8 align-middle items-center">
          <span class="text-3xl sm:text-5xl text-white">01.</span>
          <span class="font-extralight sm:text-xl mt-2 sm:mt-0 text-[#ffa500]">Automate Solutions</span>
        </div>
        <div class="flex flex-row gap-4 lg:gap-8 align-middle items-center">
          <span class="text-3xl sm:text-5xl text-white">02.</span>
          <span class="font-extralight sm:text-xl mt-2 sm:mt-0 text-[#ffa500]">Customer Centric Process Optimization</span>
        </div>
        <div class="flex flex-row gap-4 lg:gap-8   align-middle items-center">
          <span class="text-3xl sm:text-5xl text-white">03.</span>
          <span class="font-extralight sm:text-xl mt-2 sm:mt-0 text-[#ffa500]">Change Management</span>
        </div>
        <div class="flex flex-row gap-4 lg:gap-8   align-middle items-center">
          <span class="text-3xl sm:text-5xl text-white">04.</span>
          <span class="font-extralight sm:text-xl mt-2 sm:mt-0 text-[#ffa500]">Process Re-engineering</span>
        </div>
    
      </div>
      <div class="my-3 lg:mt-[5vh]">
        <a class="text-white text-[1.7vh] cursor-pointer hover:underline" (click)="routeTo('services')">Learn More </a>
      </div>
    </div>
  </div>
  




  <div class="w-full h-[40vh] flex flex-col justify-center gap-5 items-center bg-gray-300">
    <div class=" text-justify">
      <div class="font-bold text-black text-[2.5vh] text-justify ">Ready to transform your operations ? </div>
      <span class="text-lg">Contact us to schedule a consultation !</span>

    
    </div>

    <div class="">
      <button class="bg-gray-900 text-white font-bold py-3 px-6 rounded-lg shadow-md hover:bg-gray-700 hover:shadow-lg transition duration-300 ease-in-out" (click)="routeTo('contacts')">
        Contact Us
    </button>
    </div>
   

</div>




  <!-- <div class="w-full h-auto flex justify-center items-center bg-gray-900">
    <iframe 
      class="w-full h-auto max-w-4xl aspect-video my-10" 
      src="https://www.youtube.com/embed/-psusaPKLg0" 
      frameborder="0" 
      allow="autoplay; encrypted-media; fullscreen" 
      allowfullscreen>
    </iframe>
  </div> -->



  <div class="w-full grid grid-cols-1 lg:grid-cols-7">
    <!-- Left Section -->
    <div class="lg:col-span-4 flex flex-col px-5 lg:pl-10 pt-10 bg-gray-900">
      <div class="flex justify-center lg:justify-start h-10 lg:ml-[10vh] mb-[5vh]">
        <div class="text-3xl lg:text-4xl font-bold font-mono text-[#ffa500]">
          Why Choose Us ?
        </div>
      </div>
      <div class=" px-5">
      <ul class="text-lg font-sans font-light text-white space-y-4 lg:ml-[10vh] list-disc">
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">Proven Expertise in automation and business process improvement.</li>
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">Customize solutions to fit your business goals.</li>
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">A result-driven strategy delivering measurable outcomes by combining technology and innovation.</li>
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">We Improve Business Model.</li>
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">Enhance Customer Satisfaction.</li>
      </ul>
    </div>
  
    </div>
  
    <!-- Right Section -->
    <div class="lg:col-span-3 flex flex-row justify-center bg-gray-900 ">
      <div class="h-[30vh] w-[80%] sm:w-[70vh] lg:h-[50vh]">
        <img
          src="/assets/undraw_engineering-team_13ax.png"
          alt="Sample Image"
          class="h-full w-full object-contain"
        />
      </div>
    </div>
  </div>



<!-- 
    <div class="  my-[3vh] lg:mx-[10vh] py-5 text-center text-xl text-gray-900">
    "Transform your business processes with IT solutions" <br>
    <span class="text-sm font-extralight italic">Empowering businesses to grow through innovations, automations and efficiency</span>
</div> -->


  
  <app-footer/>


</div>
