<div class="" [ngClass]="getBodyClass()">
  <app-navbar/>



<div class="w-full h-[40vh] bg-gray-900 flex flex-col justify-center items-center">
      <div>
        <span class="text center text-white font-semibold text-[3vh] md:text-[4vh] lg:text-[5vh]">ABOUT US</span>
      </div>
      <p class="  text-white  text-justify lg:w-[100vh] text-[1.5vh] lg:text-[1.8vh] p-5">
        <!-- As a leading expert in IT consulting, we specialize in optimizing financial operations by <br>
         leveraging automation and change management frameworks. Our solutions effectively eliminate manual <br>
          inefficiencies, reduce costs, and enhance customer satisfaction, <br>
          ensuring businesses remain competitive in an ever-evolving market. -->
  
          As an IT Business Consultant with over five years of professional experience, 
           We focused on bridging the gap between business and technology to provide innovative and automated solutions.
            Using modern technologies and streamlining processes, helps companies increase profitability, flexibility, 
             and efficiency by means of sustainable development and enhancement of efficiency.
        </p>
</div>

<!-- 
<div class=" h-[40vh] flex justify-center items-center bg-gray-300 ">
  <div class=" text-justify  ml-auto mr-auto lg:w-[70vh]">
    <div class="font-bold text-black text-[2.4vh] text-justify py-3">Who we Are ?</div>
    <span class="text-[2vh]  text-justify  ">


        As an IT Business Consultant with over five years of professional experience, 
         We focused on bridging the gap between business and technology to provide innovative and automated solutions.
          Using modern technologies and streamlining processes, helps companies increase profitability, flexibility, 
           and efficiency by means of sustainable development and enhancement of efficiency.
    </span>
  </div>


</div> -->


<div class=" w-full h-[40vh] bg-white grid lg:grid-cols-3  py-5  px-10">

  <div class=" col-span-1 flex flex-col justify-center items-center  border-0 border-r-4  ">
      <span class="text-[2vh] font-bold">Our Mission</span>
      <span class=" text-[1.5vh] lg:text-[1.8vh]  w-[50vh]">
        To empower businesses by delivering actionable insights and innovative strategies, helping them navigate complex challenges and achieve sustainable growth.
      </span>
  </div>

  <div class=" col-span-1 flex flex-col  justify-center items-center  border-0 border-r-4   ">
    <span class="text-[2vh] font-bold">Our Vision</span>  
    <span class=" text-[1.5vh] lg:text-[1.8vh]  w-[50vh]">
      To be a trusted partner in transforming businesses through data-driven decision-making and unparalleled consultancy expertise.
    </span>      
  </div> 

   <div class=" col-span-1 flex flex-col justify-center items-center ">
    <span class="text-[2vh] font-bold ">Our Values</span> 
    <span class=" text-[1.5vh] lg:text-[1.8vh]  w-full">
      <ul class=" text-[1.5vh] lg:text-[1.8vh]  font-sans font-light text-black lg:ml-[10vh] list-disc">
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">We uphold the highest standards of honesty and professionalism.</li>
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">We embrace creativity to provide groundbreaking solutions.</li>
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">We prioritize our clients success in everything we do.</li>
        <li class="hover:text-gray-400 transition duration-300 ease-in-out">We deliver quality, ensuring measurable results.</li>

  
      </ul>
    </span>     
  </div>

</div>







<app-footer/>
  </div>    


  
