<div class="" [ngClass]="getBodyClass()">
  <app-navbar/>


    <!-- place nav here to set it inside the body.. so it does not overflow to the lest! -->
    <!-- <div class="mt-14">
      <router-outlet></router-outlet>
    </div> -->

    <!-- Footer starts here -->
    <!-- component -->

    <div class="w-full h-[40vh] bg-gray-900 flex justify-center items-center">
      <div>
        <span class="text-center text-white font-semibold text-[3vh] md:text-[4vh] lg:text-[5vh]">
          CLIENT PROJECT SCOPE
        </span>
      </div>
      
  </div>

  <div class=" bg-white">


  <main class="container mx-auto px-4 py-8">
    <!-- Section: Client Project Introduction & Client Needs Analysis -->
    <section class="mb-12">
      <div class="flex flex-row gap-5 items-end ">
        <span class=" text-[5vh]">
          1.
        </span>
        <h2 class="text-2xl font-semibold text-gray-900 mb-4">Client Project Introduction & Client Needs Analysis</h2>

      </div>

        <div class="bg-white border shadow-md rounded-md p-6">
            <h3 class="text-xl font-bold text-gray-700">Client Project Introduction</h3>
            <div class="w-full text-justify">
              <p class="text-gray-600 mt-2 ">Our client is a financial services provider headquartered in Lagos, with branches across the state, that has been operational for over 15 years. 
                The reconciliation and settlement department currently manages customer reconciliation and settlement processes manually.
                 This involves a team of 20-25 staff performing repetitive tasks, leading to delays,
                  inefficiencies, higher operational costs, and customer dissatisfaction. To resolve these challenges, the financial institution seeks to optimize and automate its reconciliation and settlement processes by:</p>
  
            </div>
         
            <ul class="list-disc list-inside text-gray-600 mt-4">
                <li>Improve productivity by 70%.</li>
                <li>Reduce human errors by 90%.</li>
                <li>Enhance customer satisfaction.</li>
            </ul>

            <h3 class="text-xl font-bold text-gray-700 mt-6">Client Needs Analysis</h3>
            <div class="mt-2 grid lg:grid-cols-4 grid-cols-1 gap-7">
              <div class="mt-4 text-justify ">

            
                <h4 class="font-semibold text-gray-700">1. Current Process Challenges (AS IS):</h4>
                <ul class="list-disc list-outside text-gray-600 ml-6 ">
                    <li>High manual workload for repetitive tasks</li>
                    <li>Errors caused by human intervention</li>
                    <li>Long processing times</li>
                </ul>
            </div>

            <div class="mt-4">
                <h4 class="font-semibold text-gray-700">2. Desired State (TO BE):</h4>
                <ul class="list-disc list-outside text-gray-600 ml-6 w-64">
                    <li>Optimized internal process</li>
                    <li>Automated reconciliation systems requiring little human intervention</li>
                    <li>Tracking and reporting errors in real-time</li>
                </ul>
            </div>

            <div class="mt-4">
                <h4 class="font-semibold text-gray-700">3. Business Implications:</h4>
                <ul class="list-disc list-outside text-gray-600 ml-6">
                    <li>Faster operational turnaround times</li>
                    <li>Improved efficiency and accuracy in settlements</li>
                    <li>Enhanced customer retention</li>
                </ul>
            </div>

            <div class="mt-4">
                <h4 class="font-semibold text-gray-700">4. Stakeholders:</h4>
                <ul class="list-disc list-outside text-gray-600 ml-6 w-52">
                    <li>Senior Management</li>
                    <li>Operations and IT departments</li>
                    <li>Customers</li>
                    <li>Financial Regulators</li>
                </ul>
            </div>
          </div>
        </div>
    </section>

    <!-- Section: Client Project Scope Definition & Ethics Protocol Requirements -->
    <section class=" mb-12">

      <div class="flex flex-row gap-5 items-end ">
        <span class=" text-[5vh]">
          2.
        </span>
        <h2 class="text-2xl font-semibold text-gray-900 mb-4">Client Project Scope Definition & Ethics Protocol Requirements</h2>

      </div>

        <div class="bg-white border shadow-md rounded-md p-6">
            <h3 class="text-xl font-bold text-gray-700">Client Project Scope Definition</h3>
            <div class=" mt-2 grid lg:grid-cols-3 grid-cols-1">
            <div class="mt-4">
                <h4 class="font-semibold text-gray-700">In-Scope:</h4>
                <ul class="list-disc list-outside text-gray-600 ml-6">
                    <li>Recommend solution</li>
                    <li>Automate reconciliation</li>
                    <li>Train staff</li>
                    <li>Monitor integration</li>
                    <li>Oversee testing and review</li>
                    <li>Monitor deployment</li>
                </ul>
            </div>

            <div class="mt-4 w-72">
                <h4 class="font-semibold text-gray-700">Out-of-Scope:</h4>
                <ul class="list-disc list-outside text-gray-600 ml-6 w-full ">
                    <li>Internal processes are overseen by project manager.</li>
                    <li>Solution development excluded.</li>
                    <li>Unrelated process automation excluded.</li>
                </ul>
            </div>

            <div class="mt-4 w-72">
              <h4 class="font-semibold text-gray-700">Deliverables:</h4>
              <ul class="list-disc list-outside text-gray-600 ml-6 w-full">
                  <li>Optimized process flow.</li>
                  <li>Framework for automated process.</li>
                  <li>Implementation plan and operational guidelines.</li>
                  <li>Training materials and sessions.</li>
              </ul>
          </div>
        </div>

          <h3 class="text-xl font-bold text-gray-700 mt-6">Ethics Protocol Requirements</h3>
          <ul class="list-disc list-outside text-gray-600 ml-6">
              <li>Ensure data confidentiality and compliance.</li>
              <li>Involve employees to reduce resistance.</li>
              <li>Communicate job reallocations transparently.</li>
          </ul>
      </div>
  </section>

  <!-- Section: Assumptions, Constraints, and Dependencies -->
  <section>

    <div class="flex flex-row gap-5 items-end ">
      <span class=" text-[5vh]">
        3.
      </span>
      <h2 class="text-2xl font-semibold text-black  mb-4">Assumptions, Constraints, and Dependencies</h2>

    </div>

      <div class="bg-white border shadow-md rounded-md p-6">
        <div class="mt-2 grid lg:grid-cols-3 grid-cols-1">
          <div class="w-10/12">
            <h3 class="text-xl font-bold text-gray-700 mt-6">Assumptions</h3>
          <ul class="list-disc list-outside text-gray-600 mt-4 w-full ml-6">
              <li>Existing IT infrastructure can support automated systems.</li>
              <li>Staff will adapt to the new system with training.</li>
              <li>Current manual data is accurate and complete for migration.</li>
              <li>Budget and resources will be sufficiently allocated.</li>
              <li>Vendor support for tools is available.</li>
          </ul>
          </div>
          

          <div class="w-10/12">
            <h3 class="text-xl font-bold text-gray-700 mt-6">Constraints</h3>
          <ul class="list-disc list-outside text-gray-600 mt-4 w-full ml-6">
              <li>Project timeline: 100 working days.</li>
              <li>Budget restrictions within approved limits.</li>
              <li>Dependence on IT department availability.</li>
              <li>Adherence to data protection laws.</li>
          </ul>
          </div>
          

          <div class="w-10/12">
            <h3 class="text-xl font-bold text-gray-700 mt-6">Dependencies</h3>
            <ul class="list-disc list-outside text-gray-600 mt-4 w-full ml-6">
                <li>Timely provision of system requirements by the operations team.</li>
                <li>IT department availability for integration and testing.</li>
                <li>Senior management approval at key milestones.</li>
                <li>Vendor support for tools deployment.</li>
                <li>Effective user training for smooth adoption.</li>
            </ul>
          </div>
         
        </div>
        </div>
    </section>
</main>

<main class="container mx-auto px-4 py-8">
  <!-- Section: Project Plan -->
  <div class="flex flex-row gap-5 items-end ">
    <span class=" text-[5vh]">
      4.
    </span>
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Project Plan</h2>

  </div>
  <section class="mb-12 bg-white  border border-gray-300 p-6">

    

      <!-- Project Details Table -->
      <div class="overflow-x-auto">
          <table class="min-w-full table-auto bg-white  rounded-md">
              <thead class="bg-gray-900 text-white">
                  <tr>
                      <th class="px-4 py-2 text-left">PROJECT NAME</th>
                      <th class="px-4 py-2 text-left">STATUS</th>
                      <th class="px-4 py-2 text-left">% DONE</th>
                      <th class="px-4 py-2 text-left">START DATE</th>
                      <th class="px-4 py-2 text-left">DUE DATE</th>
                      <th class="px-4 py-2 text-left">PROPOSED DURATION (Days)</th>
                  </tr>
              </thead>
              <tbody class="text-gray-700">
                  <tr class="border-b">
                    <td class="px-4 py-2 text-gray-500 italic">Description: This solution optimizes and automates the client's reconciliation and settlement processes.</td>
                      <td class="px-4 py-2">On Track</td>
                      <td class="px-4 py-2">20%</td>
                      <td class="px-4 py-2">12/20/2024</td>
                      <td class="px-4 py-2">4/17/2025</td>
                      <td class="px-4 py-2">100</td>
                  </tr>
                 
              </tbody>
          </table>
      </div>

      <!-- Milestones Table -->
      
      <h3 class="text-xl font-semibold text-gray-900 mt-8">Milestones</h3>
      <div class="overflow-x-auto mt-4 mb-12">
          <table class="min-w-full table-auto bg-white shadow-md rounded-md">
              <thead class="bg-gray-900 text-white">
                  <tr>
                      <th class="px-4 py-2 text-left">MILESTONES</th>
                      <th class="px-4 py-2 text-left">RESPONSIBILITY</th>
                      <th class="px-4 py-2 text-left">STATUS</th>
                      <th class="px-4 py-2 text-left">% DONE</th>
                      <th class="px-4 py-2 text-left">Weighted</th>
                      <th class="px-4 py-2 text-left">START DATE</th>
                      <th class="px-4 py-2 text-left">DUE DATE</th>
                  </tr>
              </thead>
              <tbody class="text-gray-700">
                  <tr class="border-b">
                      <td class="px-4 py-2">Requirement gathering (Current state analysis, proposed state analysis, Risk, assumptions, constraints, and functional requirements)</td>
                      <td class="px-4 py-2">Consultant</td>
                      <td class="px-4 py-2">Completed</td>
                      <td class="px-4 py-2">100%</td>
                      <td class="px-4 py-2">16%</td>
                      <td class="px-4 py-2">12/20/2024</td>
                      <td class="px-4 py-2">1/7/2025</td>
                  </tr>
                  <tr class="border-b">
                      <td class="px-4 py-2">Documentation</td>
                      <td class="px-4 py-2">Consultant</td>
                      <td class="px-4 py-2">On Track</td>
                      <td class="px-4 py-2">50%</td>
                      <td class="px-4 py-2">4%</td>
                      <td class="px-4 py-2">1/7/2025</td>
                      <td class="px-4 py-2">1/10/2025</td>
                  </tr>
                  <tr class="border-b">
                      <td class="px-4 py-2">SECURITY ASSESSMENT</td>
                      <td class="px-4 py-2">Information Security (IT Department)</td>
                      <td class="px-4 py-2">Not Started</td>
                      <td class="px-4 py-2">0%</td>
                      <td class="px-4 py-2">0%</td>
                      <td class="px-4 py-2">1/10/2025</td>
                      <td class="px-4 py-2">1/12/2025</td>
                  </tr>
                  <tr class="border-b">
                    <td class="px-4 py-2">Documentation Sign-off</td>
                    <td class="px-4 py-2">Necessary Stakeholders</td>
                    <td class="px-4 py-2">Not Started</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">1/13/2025</td>
                    <td class="px-4 py-2">1/16/2025</td>
                </tr>
                <tr class="border-b">
                    <td class="px-4 py-2">Solution Development</td>
                    <td class="px-4 py-2">Developer (IT Department)</td>
                    <td class="px-4 py-2">Not Started</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">1/17/2025</td>
                    <td class="px-4 py-2">2/24/2025</td>
                </tr>
                <tr class="border-b">
                    <td class="px-4 py-2">User Review</td>
                    <td class="px-4 py-2">Necessary Stakeholders</td>
                    <td class="px-4 py-2">Not Started</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">2/25/2025</td>
                    <td class="px-4 py-2">2/25/2025</td>
                </tr>
                <tr class="border-b">
                    <td class="px-4 py-2">System Integration Testing</td>
                    <td class="px-4 py-2">Quality Assurance (IT Department)</td>
                    <td class="px-4 py-2">Not Started</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">2/26/2025</td>
                    <td class="px-4 py-2">3/14/2025</td>
                </tr>
                <tr class="border-b">
                    <td class="px-4 py-2">Vulnerability Assessment</td>
                    <td class="px-4 py-2">IT Risk (IT Department)</td>
                    <td class="px-4 py-2">Not Started</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">3/14/2025</td>
                    <td class="px-4 py-2">3/21/2025</td>
                </tr>
                <tr class="border-b">
                    <td class="px-4 py-2">UAT</td>
                    <td class="px-4 py-2">Necessary Stakeholders</td>
                    <td class="px-4 py-2">Not Started</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">3/24/2025</td>
                    <td class="px-4 py-2">3/24/2025</td>
                </tr>
                <tr class="border-b">
                    <td class="px-4 py-2">UAT Sign-off</td>
                    <td class="px-4 py-2">Necessary Stakeholders</td>
                    <td class="px-4 py-2">Not Started</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">3/25/2025</td>
                    <td class="px-4 py-2">4/4/2025</td>
                </tr>
                <tr class="border-b">
                    <td class="px-4 py-2">Database Access Request</td>
                    <td class="px-4 py-2">Necessary Stakeholders</td>
                    <td class="px-4 py-2">Not Started</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">0%</td>
                    <td class="px-4 py-2">3/25/2025</td>
                    <td class="px-4 py-2">4/4/2025</td>
                </tr>
                <tr class="border-b">
                  <td class="px-4 py-2">Change Control Board Approval</td>
                  <td class="px-4 py-2">Necessary Stakeholders</td>
                  <td class="px-4 py-2">Not Started</td>
                  <td class="px-4 py-2">0%</td>
                  <td class="px-4 py-2">0%</td>
                  <td class="px-4 py-2">4/9/2025</td>
                  <td class="px-4 py-2">4/9/2025</td>
              </tr>
              <tr class="border-b">
                <td class="px-4 py-2">DEPLOYMENT (Pilot)</td>
                <td class="px-4 py-2">DEVELOPER (IT Department)</td>
                <td class="px-4 py-2">Not Started</td>
                <td class="px-4 py-2">0%</td>
                <td class="px-4 py-2">0%</td>
                <td class="px-4 py-2">4/10/2025</td>
                <td class="px-4 py-2">4/11/2025</td>
            </tr>
            <tr class="border-b">
              <td class="px-4 py-2">Go-live Approvals</td>
              <td class="px-4 py-2">PROJECT MANAGER</td>
              <td class="px-4 py-2">Not Started</td>
              <td class="px-4 py-2">0%</td>
              <td class="px-4 py-2">0%</td>
              <td class="px-4 py-2">4/11/2025</td>
              <td class="px-4 py-2">4/16/2025</td>
          </tr>
          <tr class="border-b">
            <td class="px-4 py-2">DEPLOYMENT (G0-live)</td>
            <td class="px-4 py-2">DEVELOPER (IT Department)</td>
            <td class="px-4 py-2">Not Started</td>
            <td class="px-4 py-2">0%</td>
            <td class="px-4 py-2">0%</td>
            <td class="px-4 py-2">4/17/2025</td>
            <td class="px-4 py-2">4/17/2025</td>
        </tr>
              </tbody>
          </table>
      </div>
  </section>

  <section class="mb-12">
    <!-- <h2 class="text-2xl font-semibold text-gray-900 mb-4">Risk register</h2> -->

    <div class="p-6 bg-gray-50 border border-gray-300">
      <h2 class="text-2xl font-bold mb-4 text-gray-900">Risk Register</h2>
      <div class="overflow-x-auto ">
        <table class="min-w-full divide-y divide-gray-200 bg-white">
          <thead class="bg-gray-800 text-white">
            <tr>
              <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Risk</th>
              <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Impact</th>
              <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Likelihood</th>
              <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Mitigation Plan</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 text-gray-700">
            <tr>
              <td class="px-6 py-4">Employee resistance</td>
              <td class="px-6 py-4">High</td>
              <td class="px-6 py-4">Low</td>
              <td class="px-6 py-4">Involve the team early and provide training.</td>
            </tr>
            <tr class="bg-gray-50">
              <td class="px-6 py-4">Data breaches during migration</td>
              <td class="px-6 py-4">High</td>
              <td class="px-6 py-4">Low</td>
              <td class="px-6 py-4">
                Encryption, data protection per policy, and backups.
              </td>
            </tr>
            <tr>
              <td class="px-6 py-4">Integration problems involving legacy systems</td>
              <td class="px-6 py-4">Medium</td>
              <td class="px-6 py-4">Medium</td>
              <td class="px-6 py-4">Perform compatibility testing</td>
            </tr>
            <tr class="bg-gray-50">
              <td class="px-6 py-4">Over-budget concerns</td>
              <td class="px-6 py-4">Medium</td>
              <td class="px-6 py-4">Low</td>
              <td class="px-6 py-4">Strict budget control</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
</section>


<section class="mb-12">
  <div class="flex flex-row gap-5 items-end ">
    <span class=" text-[5vh]">
      5.
    </span>
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Client Raci Matrix and Communication Plan</h2>

  </div>
<!-- 
  <div class=" mx-auto bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-4">Communication Plan</h2>

    <table class="table-auto w-full border-collapse border border-gray-300 mb-8"> -->

  <div class=" mx-auto bg-white border border-gray-300 rounded-lg p-6" >
    <div class=" flex flex-row gap-5 ml-5 my-2">
      <span>Responsible = <span class="font-bold">R</span> </span>
      <span>Accountable = <span class="font-bold">A</span> </span>
      <span>Consulted = <span class="font-bold">C</span>  </span>
      <span>Informed = <span class="font-bold">I</span>  </span>
    </div>
    <!-- <h2 class="text-2xl font-bold mb-4 text-gray-700">Risk Register</h2> -->
    <div class="overflow-x-auto ">
      <table class="divide-y  bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Task</th>
            <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Consultant</th>
            <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Project Manager</th>
            <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Project Owner</th>
            <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Project Sponsor</th>
            <th class="px-6 py-3 text-left text-sm font-semibold uppercase">IT Department</th>
            <th class="px-6 py-3 text-left text-sm font-semibold uppercase">Operations Team/Employee</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 text-gray-700">
          <tr>                                                                                                                                                                                                                                                     
            <td class="px-6 py-4">Status Update</td>
            <td class="px-6 py-4">R, A</td>
            <td class="px-6 py-4">R</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Requirement gathering</td>
            <td class="px-6 py-4">R</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">A</td>
            <td class="px-6 py-4">C</td>
            <td class="px-6 py-4">C</td>
            <td class="px-6 py-4">C</td>
          </tr>
          <tr>
            <td class="px-6 py-4">Documentation</td>
            <td class="px-6 py-4">R, A</td>
            <td class="px-6 py-4"></td>
            <td class="px-6 py-4"></td>
            <td class="px-6 py-4"></td>
            <td class="px-6 py-4"></td>
            <td class="px-6 py-4"></td>
          </tr>
        
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Security Assessment</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">A</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">C</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Documentation Sign-off</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">A</td>
            <td class="px-6 py-4">C</td>
            <td class="px-6 py-4">C</td>
            <td class="px-6 py-4">C</td>
            <td class="px-6 py-4">I</td>

          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Solution Development</td>
            <td class="px-6 py-4">C</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">A</td>
            <td class="px-6 py-4">I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">User Review</td>
            <td class="px-6 py-4">A</td>
            <td class="px-6 py-4">R, I</td>
            <td class="px-6 py-4">R, A, C, I</td>
            <td class="px-6 py-4">C. I </td>
            <td class="px-6 py-4">R, A, C, I</td>
            <td class="px-6 py-4">R, C, I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">System Integration Testing</td>
            <td class="px-6 py-4">R, A, C</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">R, A, C</td>
            <td class="px-6 py-4">I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Vulnerability Assessment</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">R, A, C</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">User Acceptance Testing</td>
            <td class="px-6 py-4">R, A</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">R, A, C, I</td>
            <td class="px-6 py-4">R, A, C, I</td>
            <td class="px-6 py-4">R, A, C, I</td>
            <td class="px-6 py-4">R, A, C, I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">UAT SIGN-OFF</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">A</td>
            <td class="px-6 py-4">R</td>
            <td class="px-6 py-4">R</td>
            <td class="px-6 py-4">R</td>
            <td class="px-6 py-4">R</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Database Access Request F</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">R, A</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">C, I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Change Control Board Approval</td>
            <td class="px-6 py-4">C</td>
            <td class="px-6 py-4">R</td>
            <td class="px-6 py-4">R, A</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">DEPLOYMENT (Pilot)</td>
            <td class="px-6 py-4">C</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">R, A</td>
            <td class="px-6 py-4">I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Go-live Approvals</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">A</td>
            <td class="px-6 py-4">R</td>
            <td class="px-6 py-4">R</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">DEPLOYMENT (G0-live)</td>
            <td class="px-6 py-4">C, I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">R, A</td>
            <td class="px-6 py-4">I</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-6 py-4">Training</td>
            <td class="px-6 py-4">R, A, C</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
            <td class="px-6 py-4">I</td>
          </tr>
 
        </tbody>
      </table>
    </div>
  </div>
  
</section>


<section class="mb-12">
  <div class=" mx-auto bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-4">Communication Plan</h2>

    <div class="overflow-x-auto">
    <table class="table-auto  border-collapse border border-gray-300 mb-8">
      <thead class="">
        <tr class="bg-gray-200">
          <th class="border border-gray-300 px-4 py-2 text-left">Communication Description</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Communication Schedule</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Initiated By</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Recipients</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Mode of Communication</th>
        </tr>
      </thead>
      <tbody class="">
        <tr>
          <td class="border border-gray-300 px-4 py-2">Status Report to client</td>
          <td class="border border-gray-300 px-4 py-2">Weekly</td>
          <td class="border border-gray-300 px-4 py-2">Consultant</td>
          <td class="border border-gray-300 px-4 py-2">Client/Senior Management</td>
          <td class="border border-gray-300 px-4 py-2">E-Mail</td>
        </tr>
        <tr class="bg-gray-50">
          <td class="border border-gray-300 px-4 py-2">Management Review</td>
          <td class="border border-gray-300 px-4 py-2">Adhoc</td>
          <td class="border border-gray-300 px-4 py-2">ITPMO</td>
          <td class="border border-gray-300 px-4 py-2">Senior Management, Project Team</td>
          <td class="border border-gray-300 px-4 py-2">E-Mail</td>
        </tr>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Configuration Audit</td>
          <td class="border border-gray-300 px-4 py-2">At the end of each release</td>
          <td class="border border-gray-300 px-4 py-2">Consultant/Project Manager</td>
          <td class="border border-gray-300 px-4 py-2">Team Members</td>
          <td class="border border-gray-300 px-4 py-2">E-Mail</td>
        </tr>
        <tr class="bg-gray-50">
          <td class="border border-gray-300 px-4 py-2">Project Status Report</td>
          <td class="border border-gray-300 px-4 py-2">Adhoc</td>
          <td class="border border-gray-300 px-4 py-2">Consultant/Project Manager</td>
          <td class="border border-gray-300 px-4 py-2">Team Members</td>
          <td class="border border-gray-300 px-4 py-2">E-Mail</td>
        </tr>
      </tbody>
    </table>
    </div>

    <h3 class="text-xl font-bold mb-4">External Escalation</h3>
    <div class="overflow-x-auto">
    <table class="table-auto w-full border-collapse border border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 px-4 py-2 text-left">Escalation Level</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Role</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Mail-ID</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Phone-Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Level 1</td>
          <td class="border border-gray-300 px-4 py-2">Project Manager</td>
          <td class="border border-gray-300 px-4 py-2">Project Manager</td>
          <td class="border border-gray-300 px-4 py-2">To be provided</td>
          <td class="border border-gray-300 px-4 py-2">To be provided</td>
        </tr>
        <tr class="bg-gray-50">
          <td class="border border-gray-300 px-4 py-2">Level 2</td>
          <td class="border border-gray-300 px-4 py-2">Client</td>
          <td class="border border-gray-300 px-4 py-2">Project Owner/Technical Lead</td>
          <td class="border border-gray-300 px-4 py-2">To be provided</td>
          <td class="border border-gray-300 px-4 py-2">To be provided</td>
        </tr>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Level 3</td>
          <td class="border border-gray-300 px-4 py-2">Project Sponsor</td>
          <td class="border border-gray-300 px-4 py-2">Project Sponsor</td>
          <td class="border border-gray-300 px-4 py-2">To be provided</td>
          <td class="border border-gray-300 px-4 py-2">To be provided</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</section>



<section class="mb-12">
  <div class="flex flex-row gap-5 items-end ">
    <span class=" text-[5vh]">
      6.
    </span>
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Client Project Success Criteria</h2>

  </div>

  <div class="bg-white border w-full p-6 rounded-lg">
    <h3 class="text-xl font-bold text-gray-700 mt-6">Success Metrics</h3>
    <ul class="list-disc list-inside text-gray-600 mt-4">
        <li>Improvement in productivity: 70% reduced processing time.</li>
        <li>Error reduction: 90% less manual errors.</li>
        <li>Operational cost reduction: 40% lower costs for settlement processes.</li>
        <li>Customer satisfaction: >80% rating.</li>
    </ul>
  </div>
  
</section>

<section class="">
  <div class="flex flex-row gap-5 items-end ">
    <span class=" text-[5vh]">
      7.
    </span>
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Client Project Reflection</h2>

  </div>

  <div class="bg-white border w-full p-6 rounded-lg">
    <h3 class="text-xl font-bold text-gray-700 mt-6">Key Learnings</h3>
    <ul class="list-disc list-inside text-gray-600 mt-4">
        <li>Importance of clear communication in overcoming resistance.</li>
        <li>Continuous training ensures sustained adoption.</li>
        <li>Early wins build momentum for large-scale change.</li>
    </ul>
  </div>
  
</section>
</main>


</div>

  <app-footer/>

  </div>    
