<div class="" [ngClass]="getBodyClass()">
  <app-navbar/>

<div class="w-full h-[40vh] bg-gray-900 flex flex-col justify-center items-center">
    <div>
      <span class="text center text-white font-semibold text-[3vh] md:text-[4vh] lg:text-[5vh]">OUR SERVICES</span>
      
    </div>
    <p class="section-intro text-white " >
        We offer a wide range of tailored solutions to help businesses thrive in a competitive market.
      </p>
</div>



<section id="our-services" class="services-section bg-white">
    <div class="container">

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
        <!-- Service 1 -->
        <div class="service-card">
          <div class="icon-container">
          </div>
          <h3 class="service-title font-bold">Business Process Improvement</h3>
          <div class="service-description text-left px-3">
            <ul class="list-disc  list-outside space-y-2 text-gray-700 ">
              <li class="text-lg font-medium ">Analyze existing processes to identify inefficiencies.</li>
              <li class="text-lg font-medium ">Create systems that comply with industry standards and best practices.</li>
              <li class="text-lg font-medium ">Implement automation tools such as robotic process automation to optimize routine tasks.</li>
            </ul>
          </div>
        </div>
        <!-- Service 2 -->
        <div class="service-card">
          <div class="icon-container">
                  </div>
          <h3 class="service-title font-bold">IT Strategy and Digital Transformation</h3>
          <div class="service-description text-left px-3 ">
            <ul class="list-disc list-outside space-y-2 text-gray-700 ">
              <li class="text-lg font-medium ">Design IT roadmaps aligned with business objectives.</li>
              <li class="text-lg font-medium ">	Assist organizations through initiatives towards digital transformation</li>
              <li class="text-lg font-medium ">	Evaluate and recommend new technologies to improve operational performance</li>
              <li class="text-lg font-medium ">		Implement tools for management of workflows to streamline operations</li>
            </ul>
          </div>
        </div>
        <!-- Service 3 -->
        <div class="service-card">
          <div class="icon-container">
   
          </div>
          <h3 class="service-title font-bold">Change Management and Stakeholder Engagement</h3>
          <div class="service-description text-left px-3 ">
            <ul class="list-disc list-outside space-y-2 text-gray-700 ">
              <li class="text-lg font-medium ">	Develop strategies to address resistance to new IT systems.</li>
              <li class="text-lg font-medium ">	Conduct workshops and training sessions for seamless implementation.</li>
              <li class="text-lg font-medium ">	Utilizing feedback loops and good communication, align stakeholders.</li>
            </ul>
          </div>
        </div>
        <!-- Service 4 -->
        <div class="service-card">
          <div class="icon-container">
           
          </div>
          <h3 class="service-title font-bold">IT Project Management</h3>
          <div class="service-description text-left px-3 ">
            <ul class="list-disc list-outside space-y-2 text-gray-700 ">
              <li class="text-lg font-medium ">	Oversee IT projects from beginning until completion</li>
              <li class="text-lg font-medium ">	Resources, timelines, and budget management to ensure success.</li>
              <li class="text-lg font-medium ">Provide contingency planning and risk assessments.</li>
            </ul>
          </div>
        </div>
        <!-- Service 5 -->
        <div class="service-card">
          <div class="icon-container">
           
          </div>
          <h3 class="service-title font-bold">Data Analytics and Insights</h3>
          <div class="service-description text-left px-3 ">
            <ul class="list-disc list-outside space-y-2 text-gray-700 ">
              <li class="text-lg font-medium ">	Deploy visualization and data collecting tools (like Tableau and Power BI)</li>
              <li class="text-lg font-medium ">	Present actionable insights through dashboards and reports.</li>
              <li class="text-lg font-medium ">	Leverage big data for trend analysis and decision-making.</li>
            </ul>
          </div>
        </div>

        <div class="service-card">
            <div class="icon-container">
             
            </div>
            <h3 class="service-title font-bold">System Integration and Optimization</h3>
            <div class="service-description text-left px-3 ">
              <ul class="list-disc list-outside space-y-2 text-gray-700 ">
                <li class="text-lg font-medium ">	Ensure seamless integration of new technologies with existing systems.</li>
                <li class="text-lg font-medium ">	Enhancing the functionality and compatibility of legacy systems by upgrading them to a more recent version.</li>
                <li class="text-lg font-medium ">	Optimize IT infrastructure in line with scalability and efficiency.</li>
              </ul>
            </div>
          </div>
          <!-- Service 5 -->
          <div class="service-card">
            <div class="icon-container">
             
            </div>
            <h3 class="service-title font-bold">IT Governance and Policy Development</h3>
            <div class="service-description text-left px-3 ">
              <ul class="list-disc list-outside space-y-2 text-gray-700 ">
                <li class="text-lg font-medium ">	Create IT governance frameworks to align with business objectives.</li>
                <li class="text-lg font-medium ">	Track and assess IT system performance.</li>
              </ul>
            </div>
          </div>

          
      </div>
    </div>
  </section>
  











  <app-footer/>

  </div>    
